@model Fiap.Exemplo01.MVC.Models.Aluno
@{
    ViewBag.Title = "Salvar";
}

<h2>Salvar</h2>
<h3>@TempData["mensagem"]</h3>

<p>@Model.Nome @Model.Salario @Model.Data</p>

<p>O nome do aluno é @ViewBag.nomeAluno</p>
<p>A data de nascimento do aluno é @ViewBag.dataAluno</p>
<p>O salário do aluno é @ViewBag.salarioAluno</p>


